<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conecta Entretenimiento</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    <nav class="nav-bar">
        <div>
            <ul class="nav-ul">
                <li class="nav-li-conecta"><img src="/img/rocket.png" class="nav-icon" alt="" >CONECTA </li>
                <li> <a href="#">Productos</a> </li>
                <li> <a href="#">Descripciones</a> </li>
                <li> <a href="#">Videos</a> </li>
                <li> <a href="#">FAQ</a> </li>
                <li> <a href="#">Contacto</a> </li>
            </ul>

        </div>
    </nav>
    <header>
        <section id="carousel">
            <section id="wrapper">
                <figure class="slide-container"data-slide="0">
                    <img src="/img/ca1.png" alt="" class="slide-image">
                    <p class="texto-carousel">Tus peliculas favoritas</p>
                </figure>
                <figure class="slide-container" data-slide="1">
                    <img src="/img/ca2.png" alt="" class="slide-image">
                </figure>
                <figure class="slide-container" data-slide="2">
                    <img src="/img/ca3.png" alt="" class="slide-image">
                </figure>
                <figure class="slide-container" data-slide="3">
                    <img src="/img/ca4.png" alt="" class="slide-image">
                </figure>
                <figure class="slide-container" data-slide="4">
                    <img src="/img/ca5.png" alt="" class="slide-image">
                </figure>
            </section>
            <nav>
                <a class="arrow" href="#" data-preview="0" id="btn-preview">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <a class="arrow" href="#" data-next="1" id="btn-next">
                    <i class="fas fa-arrow-right"></i>
                </a>
            </nav>
            <ul>
                <li data-target="0" class="dot"><i class="far fa-circle"></i></li>
                <li data-target="1" class="dot"><i class="far fa-circle"></i></li>
                <li data-target="2" class="dot"><i class="far fa-circle"></i></li>
                <li data-target="3" class="dot"><i class="far fa-circle"></i></li>
                <li data-target="4" class="dot"><i class="far fa-circle"></i></li>
            </ul>
        </section>
    </header>

    <main>

        <section id="products" class="products">
            <h2 class="products-tittle">Productos</h2>
            <div class="all-products">
            <div class="product-container">
                <img src="/img/p1.jpg" alt="">
                <div class="product-info">
                    <h3 class="product-name">Producto 1</h3>
                    <p class="real-price">$200</p>
                    <p class="promo-price">$150</p>
                    <button class="buy">Comprar</button>
                </div>
            </div>

            <div class="product-container">
                <img src="/img/p2.jpg" alt="">
                <div class="product-info">
                    <h3 class="product-name">Producto 2</h3>
                    <p class="real-price">$200</p>
                    <p class="promo-price">$150</p>
                    <button class="buy">Comprar</button>
                </div>
            </div>

            <div class="product-container">
                <img src="/img/p3.jpg" alt="">
                <div class="product-info">
                    <h3 class="product-name">Producto 3</h3>
                    <p class="real-price">$200</p>
                    <p class="promo-price">$150</p>
                    <button class="buy" >comprar</button>
                </div>
            </div>

            <div class="product-container">
                <img src="/img/p4.jpg" alt="">
                <div class="product-info">
                    <h3 class="product-name">Producto 4</h3>
                    <p class="real-price">$200</p>
                    <p class="promo-price">$150</p>
                    <button class="buy">comprar</button>
                </div>
            </div>

            <div class="product-container">
                <img src="/img/p5.jpg" alt="">
                <div class="product-info">
                    <h3 class="product-name">Producto 5</h3>
                    <p class="real-price">$200</p>
                    <p class="promo-price">$150</p>
                    <button class="buy">comprar</button>
                </div>
            </div>

            <div class="product-container">
                <img src="/img/p6.jpg" alt="">
                <div class="product-info">
                    <h3 class="product-name">Producto 6</h3>
                    <p class="real-price">$200</p>
                    <p class="promo-price">$150</p>
                    <button class="buy">comprar</button>
                </div>
            </div>

            </div>

        </section>

        <section id="description" class="Description">
            <h2 class="description-tittle">Descripcion de productos</h2>
            <div class="all-products">
            <div class="product-description-info">
                <img src="/img/s1.jpg" alt="">
                <h3 class="description-product-name">Marca 1</h3>
                <p class="description-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi laudantium fugit nulla. Omnis doloremque laborum suscipit atque at laudantium dolores similique molestiae necessitatibus tenetur quasi corporis nulla sint, consequatur recusandae repellendus repellat distinctio tempora in neque culpa! Quia harum mollitia consequuntur magnam veritatis dignissimos numquam doloremque? Officiis aspernatur possimus sapiente. Reiciendis quibusdam possimus quaerat ea commodi? Obcaecati quidem incidunt porro.</p>
            </div>

            <div class="product-description-info">
                <img src="/img/s2.jpg" alt="">
                <h3 class="description-product-name">Marca 2</h3>
                <p class="description-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium earum nam quo at tempora est non accusamus ad voluptatibus magnam maiores officia similique assumenda exercitationem ipsa nobis aut id, aliquid nisi asperiores totam a? Eaque similique, adipisci qui expedita earum ratione impedit temporibus nesciunt ex et?</p>
            </div>

            <div class="product-description-info">
                <img src="/img/s3.jpg" alt="">
                <h3 class="description-product-name">Marca 3</h3>
                <p class="description-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum tenetur eum rem nesciunt corporis ad deleniti esse voluptas saepe, cumque exercitationem iure minima fuga hic quas ullam ipsam consequuntur pariatur assumenda dicta quae. Alias ullam dolore aut architecto minus eius doloribus est sed, illum magni eaque hic impedit, obcaecati unde. Laudantium necessitatibus adipisci aliquam provident recusandae doloribus suscipit accusamus pariatur tempore officia.</p>
            </div>
        </div>
        </section>

        <section id="video" class="video">


        </section>

        <section id="faq" class="faq">


        </section>
        

    </main>

    <footer id="footer" class="footer">
        <img src="" alt="">
        <div class="info"> 
            <h3 class="footer-tittle"> Canales de atencion:</h3>
            <ul class="footer-ul">
                <li><i class="far fa-envelope"></i> hola@email.com</li>
                <li><i class="fab fa-whatsapp"></i> +12345678</li>
                <li><i class="fab fa-instagram"></i> instagram</li>
            </ul>
        </div>


    </footer>
    <script src="/js/main.js"></script>
    
</body>
</html>