<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conecta Entretenimiento</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    <nav>
        <div>
            <ul>
                <li><a href="#"><img src="/img/rocket.png" alt=""></a> </li>
                <li><a href="#">Conecta</a> </li>
                <li> <a href="">MFC</a> </li>
                <li> <a href="">TVEpress</a> </li>
                <li> <a href="">HOT</a> </li>
            </ul>

        </div>

    </nav>
    <header>
        <section id="carousel">
            <section id="wrapper">
                <figure class="slide-container"data-slide="0">
                    <img src="/img/ca1.png" alt="" class="slide-image">
                </figure>
                <figure class="slide-container" data-slide="1">
                    <img src="/img/ca2.png" alt="" class="slide-image">
                </figure>
                <figure class="slide-container" data-slide="2">
                    <img src="/img/ca3.png" alt="" class="slide-image">
                </figure>
                <figure class="slide-container" data-slide="3">
                    <img src="/img/ca4.png" alt="" class="slide-image">
                </figure>
                <figure class="slide-container" data-slide="4">
                    <img src="/img/ca5.png" alt="" class="slide-image">
                </figure>
            </section>
            <nav>
                <a class="arrow" href="#" data-preview="0" id="btn-preview">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <a class="arrow" href="#" data-next="1" id="btn-next">
                    <i class="fas fa-arrow-right"></i>
                </a>
            </nav>
            <ul>
                <li data-target="0" class="dot"><i class="fas fa-dot-circle"></i></li>
                <li data-target="1" class="dot"><i class="far fa-dot-circle"></i></li>
                <li data-target="2" class="dot"><i class="far fa-dot-circle"></i></li>
                <li data-target="3" class="dot"><i class="far fa-dot-circle"></i></li>
                <li data-target="4" class="dot"><i class="far fa-dot-circle"></i></li>
            </ul>
        </section>
        

    </header>

    <main>
        

    </main>

    <footer>


    </footer>
    <script src="/js/main.js"></script>
    
</body>
</html>