* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: none;
	
}

body {
	display: block;
	font-family: 'Montserrat', sans-serif;
	background: rgb(36,15,0);
	background: linear-gradient(90deg, rgba(36,15,0,0.9345939059217437) 0%, rgba(255,130,31,1) 29%, rgba(255,0,97,1) 100%);
	
}

.nav-bar {
	background: rgb(36,15,0);
	background: linear-gradient(90deg, rgba(36,15,0,0.9345939059217437) 0%, rgba(255,130,31,1) 29%, rgba(255,0,97,1) 100%);
	padding: 1%;
	top: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
.nav-bar div ul{
	display: flex;
	justify-content: space-between;
    flex-direction: row;
	list-style: none;
}
.nav-bar div ul li{
	margin: auto;
}
.nav-bar div ul a {
	color: antiquewhite;
	text-decoration: none;
	font-weight:300;
}
.nav-icon {
	height: 35px;
}
.nav-ul{
	list-style: none;
} 
.nav-li-conecta {
	color: antiquewhite;
	font-size: 30px;
	font-weight:600;
}
header {
	margin-top: 65px;
}

#carousel {
	background-color: #fff;
	height: 75vh;
	flex: 1 0 100%;
	display: flex;
	flex-flow: row wrap;
	position: relative;
	justify-content: center;
	overflow: hidden;
}
#carousel nav {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

#carousel nav a {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	padding: 1rem;
	text-decoration: none;
	color: snow;
}

#carousel nav a:last-child {
	justify-content: flex-end;
}

#carousel nav a i {
	background-color: tomato;
	padding: 0.5rem;
	font-size: 0.8rem;
	border-radius: 2rem;
}

#carousel ul {
	position: absolute;
	z-index: 10;
	width: 25%;
	height: 2rem;
	display: flex;
	justify-content: space-between;
	bottom: 1rem;
}

#carousel ul li {
	flex: 1 0 auto;
	display: flex;
	justify-content: center;
	pointer-events: all;
	cursor: pointer;
}

#carousel ul li i {
	color: snow;
	width: 2rem;
	font-size: 1rem;
	padding: 0.5rem;
}

#carousel ul li.active i {
	background-color: tomato;
	border-radius: 2rem;
}

#carousel img {
	max-width: 100%;
}
#wrapper {
	display: flex;
	flex-wrap: nowrap;
}
#wrapper .slide-container {
	flex: 1 0 100%;
	order: 1;
	opacity: 0;
	transition: all 1s ease-out;
}

#wrapper .slide-container.active {
	opacity: 1;
	order: 0;
}

.products-tittle {
	color: antiquewhite;
	text-align: center;
	margin:auto;
	font-weight: 600;
	font-size: 50px;
	margin-bottom: 3%;
	margin-top: 3%;
}



.all-products{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 1%
}
.product-container {
	height: 30vh;
	font-weight: 200;
	color:antiquewhite ;
	margin: auto;
	margin-bottom: 4%;
}


.product-container img{
	height:30vh;
	width: 30vw;
	border-radius: 5%;
}
.product-info{

	position: absolute;
	z-index: 10;
}
.product-name, .real-price, .promo-price, .buy {
	position: relative;
	top: -140px;
	right: -30px;
}
.product-name{
	font-weight: 600;
	font-size: 25px;
	background: rgba(0, 0, 0, 0.427);
}
.real-price {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.427);
	text-decoration: line-through;
}
.promo-price {
	font-size: 25px;
	background: rgba(0, 0, 0, 0.427);
	font-weight: 600;
}
.buy {
	font-size: 18px;
	color: white;
	background: rgb(237, 125, 64);
	padding: 6%;
	margin: 4%;
	border-radius: 10px;

}